{% extends 'base.html' %} {% block content %}
<div class="container mt-5 color4 p-5">
  <div
    class="container p-4 pt-4 mt-2 mb-2 col-md-7 col-lg-5 rounded shadow color4 text-light d-flex align-items-center"
  >
    <h1 class="text-light workbench flex-grow-1">Join Bookwis.</h1>
    <a href="/profile">
      <div
        class="rounded-circle overflow-hidden border border-dark"
        style="width: 50px; height: 50px"
      >
        <img
          src="{{ g.user.profile_pic if g.user else url_for('static', filename='default.jpeg') }}"
          class="w-100 h-100"
          alt="Profile Image"
        />
      </div>
    </a>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5 mt-4">
      <h2 class="text-info">Join Bookwis today.</h2>
      <p>
        Bookwis makes reading social again. Find your niche, meet kindred
        spirits in each story, explore new genres... and enjoy the classics!
      </p>
      <p class="text-info">
        <a class="text-info" href="/login">Have an account already?</a>
      </p>
      <form method="POST" id="user_form" enctype="multipart/form-data">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
        != 'hidden' %} {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %} {{ field(placeholder=field.label.text, class="form-control
        mb-3") }} {# Added mb-3 for bottom margin #} {% endfor %}

        <button class="btn btn-warning btn-lg btn-block">Sign me up!</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
